Name:         cluster
Namespace:    
Labels:       <none>
Annotations:  <none>
API Version:  config.openshift.io/v1
Kind:         Infrastructure
Metadata:
  Creation Timestamp:  2024-11-11T02:58:51Z
  Generation:          1
  Resource Version:    520
  UID:                 461dd416-f3f1-4091-9c89-edc5140acad6
Spec:
  Cloud Config:
    Key:   config
    Name:  cloud-provider-config
  Platform Spec:
    Aws:
    Type:  AWS
Status:
  API Server Internal URI:  https://api-int.ci-ln-2s0x4sk-76ef8.aws-2.ci.openshift.org:6443
  API Server URL:           https://api.ci-ln-2s0x4sk-76ef8.aws-2.ci.openshift.org:6443
  Control Plane Topology:   HighlyAvailable
  Cpu Partitioning:         None
  Etcd Discovery Domain:    
  Infrastructure Name:      ci-ln-2s0x4sk-76ef8-2sx7w
  Infrastructure Topology:  HighlyAvailable
  Platform:                 AWS
  Platform Status:
    Aws:
      Region:  us-east-1
    Type:      AWS
Events:        <none>
